/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p,
.experience-sub-title {
  color: rgb(85, 85, 85);
}

/* FLEXED ELEMENTS */

article,
nav,
#contact,
#profile,
#profile-socials-container,
.about-containers,
.about-details-container,
.article-container,
.contact-info-upper-container,
.contact-info-container,
.experience-details-container,
.nav-links,
.profile-button-container,
.profile-pic-container,
.section-container {
  display: flex;
}

nav,
.article-container {
  justify-content: space-around;
}

article,
nav,
.contact-info-container {
  align-items: center;
}

.nav-links,
.about-containers {
  gap: 2rem;
}

#contact,
#profile,
#profile-socials-container,
.about-details-container,
.experience-details-container,
.contact-info-upper-container,
.contact-info-container,
.profile-button-container {
  justify-content: center;
}

#contact,
.about-details-container,
.experience-details-container {
  flex-direction: column;
}

/* NAVBAR */

a,
.project-btn,
.project-title {
  color: black;
}

a {
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

nav {
  height: 17vh;
}

.logo {
  font-size: 2rem;
}

.nav-links {
  list-style: none;
  font-size: 1.5rem;
}

/* SECTIONS */

#about,
#experience,
#projects {
  position: relative;
}

section {
  padding-top: 4vh;
  height: 93vh;
  margin: 0 10rem;
}

.section-container {
  margin-top: 2rem;
  gap: 4rem;
}

.section-container,
.experience-details-container {
  height: 80%;
}

.section-title {
  font-size: 3rem;
}

.button,
.experience-sub-title,
.profile-text p,
.section-title {
  font-weight: 600;
}

footer p,
.details-container,
.profile-text-first-p,
.profile-text,
.section-title {
  text-align: center;
}

/* TRANSITIONS */

a,
.button {
  transition: all 300ms ease;
}

/* BUTTONS */

.button {
  padding: 1rem;
  width: 8rem;
}

.about-pic,
.button,
.contact-info-upper-container,
.details-container,
.project-img {
  border-radius: 2rem;
}

.primary-button,
.secondary-button,
.details-container,
.contact-info-upper-container {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.icon,
.primary-button:hover,
.secondary-button:hover {
  cursor: pointer;
}

.primary-button,
.secondary-button:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.primary-button:hover {
  background: rgb(0, 0, 0);
}

.secondary-button {
  background: none;
}

.secondary-button:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

#profile-socials-container,
.profile-button-container {
  gap: 1rem;
}

/* PROFILE SECTION */

#profile {
  gap: 5rem;
  height: 80vh;
}

.profile-text {
  align-self: center;
}

.experience-sub-title,
.profile-text-second-p {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.profile-pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

#profile-socials-container {
  margin-top: 1rem;
}

/* ABOUT SECTION */

.about-containers,
.experience-sub-title {
  margin-bottom: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
}

.details-container,
.color-container,
.contact-info-upper-container,
.project-btn {
  border-color: rgb(163, 163, 163);
}

.icon {
  height: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

/* EXPERIENCE SECTIION */

.article-container {
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
}

article {
  width: 10rem;
}

/* PROJECTS SECTION */

.project-img {
  width: 90%;
  height: 90%;
}

.color-container,
.contact-info-upper-container,
.details-container {
  background: rgb(250, 250, 250);
}

/* CONTACT SECTION */

.contact-info-upper-container {
  margin: 2rem auto;
  padding: 0.5rem;
}

#contact {
  height: 70vh;
}

.contact-info-container,
article {
  gap: 0.5rem;
}

.contact-info-container,
.project-title {
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

article .icon,
.contact-icon,
.logo:hover {
  cursor: default;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
}
