/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  color: rgb(85, 85, 85);
}

.text-container p {
  margin-bottom: 1rem;
}

/* NAVBAR */

nav {
  height: 17vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

/* SECTIONS */

section {
  padding-top: 3vh;
  height: 93vh;
  margin: 0 4rem;
}

.section-container {
  display: flex;
}

.section-title {
  font-weight: 600;
  font-size: 3rem;
}

.section-title,
.profile-text-first-p {
  text-align: center;
}

/* BUTTONS */

.button {
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.primary-button,
.secondary-button {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.primary-button:hover,
.secondary-button:hover {
  cursor: pointer;
}

.primary-button {
  background: rgb(53, 53, 53);
  color: white;
}

.primary-button:hover {
  background: rgb(0, 0, 0);
}

.secondary-button {
  background: none;
}

.secondary-button:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
  background: rgb(53, 53, 53);
  color: white;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.profile-text {
  align-self: center;
  text-align: center;
}

.profile-text p {
  font-weight: 600;
}

.profile-text-second-p {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.profile-pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* ABOUT SECTION */

#about-containers {
  display: flex;
  margin-bottom: 1rem;
}
